<% provide(:title, 'Login') %>

<h1>Login</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(scope: :session, url: login_path) do |form| %>
      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>

      <%= form.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.label :remember_me, class: "checkbox inline" do %>
        <%= form.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= form.submit "Login", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>
