<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: password_resets_path, scope: :password_reset) do |form| %>
        <%= form.label :email %>
        <%= form.text_field :email, class: 'form-control' %>

        <%= form.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>