<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |form| %>
    
      <%= render 'shared/error_messages', object: f.object %>

      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>

      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>

      <%= form.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>